<div class="container">
  <div class="row">
    <div class="col-12">
      <h2>Mes appareils</h2>
      <h3>Last update : {{lastUpdate | async | date: 'EEEE d MMMM y'}}</h3>
      <ul class="list-group">
        <app-appareil *ngFor="let appareil of appareils"
                      [appareilName]="appareil.name"
                      [appareilStatus]="appareil.status"></app-appareil>
      </ul>
      <button type="button" class="btn btn-success" [disabled]="!isAuth" (click)="onToutAllumer()">
        Tout allumer
      </button>
      <button type="button" class="btn btn-danger" [disabled]="!isAuth" (click)="onToutEteindre()">
        Tout éteindre
      </button>
    </div>
  </div>
</div>
